<div class="container">
<div id="showtable" class="jumbotron jumbotron-fluid ">
    <h1 class="display-3">Task Detail</h1>
    <p class="lead"> Deadline: <%= @todo.duedate %></p>
    <p><%= @todo.detail %></p>
    <p class="lead"><button type="button" class="btn btn-link"><%= link_to 'Back to index', todos_path %></button></p>
  </div>
</div>
